<a href="https://colab.research.google.com/github/nigar001/data-science-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_exams = pd.read_csv(
    'https://raw.githubusercontent.com/thepycoach/python-for-data-science/main/02.Intro%20to%20Pandas/StudentsPerformance.csv')
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# Math operations

operations in columns

In [ ]:
#selct a column and calculate total sum
df_exams['math score'].sum()

np.int64(66089)

In [ ]:
#the number of rows count, std, max and min
df_exams['math score'].count()
df_exams['math score'].mean()
df_exams['math score'].max()
df_exams['math score'].min()
df_exams['math score'].std()

15.163080096009468

In [ ]:
#easier calculation with .describe()
df_exams.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

**Work with rows**

In [ ]:
#calculating the sum in a row
df_exams['math score'] +df_exams['reading score']+df_exams['writing score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [ ]:
#average in a row
df_exams['average']=(df_exams['math score'] +df_exams['reading score']+df_exams['writing score'])/3
df_exams.round(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,72.67
1,female,group C,some college,standard,completed,69,90,88,82.33
2,female,group B,master's degree,standard,none,90,95,93,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.33
4,male,group C,some college,standard,none,76,78,75,76.33
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.00
996,male,group C,high school,free/reduced,none,62,55,55,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,65.00
998,female,group D,some college,standard,completed,68,78,77,74.33
999,female,group D,some college,free/reduced,none,77,86,86,83.00

# Value counts

In [ ]:
#count gender elemenets
#len function
len(df_exams['gender'])
df_exams['gender'].count()

np.int64(1000)

In [ ]:
#counting gender elemenets
#we use this when we need to find counts in a column
df_exams['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [ ]:
#return the relative accurarcy (divide all the values by the sum of values)
df_exams['gender'].value_counts(normalize=True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [ ]:
df_exams['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

# Sort the dataframe

In [ ]:
#sort by one column
df_exams.sort_values(by='math score')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average
59,female,group C,some high school,free/reduced,none,0,17,10,9.000000
980,female,group B,high school,free/reduced,none,8,24,23,18.333333
17,female,group B,some high school,free/reduced,none,18,32,28,26.000000
787,female,group B,some college,standard,none,19,38,32,29.666667
145,female,group C,some college,free/reduced,none,22,39,33,31.333333
...,...,...,...,...,...,...,...,...,...
623,male,group A,some college,standard,completed,100,96,86,94.000000
625,male,group D,some college,standard,completed,100,97,99,98.666667
962,female,group E,associate's degree,standard,none,100,100,100,100.000000
458,female,group E,bachelor's degree,standard,none,100,100,100,100.000000
916,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000

In [ ]:
#sort in descending order by one column
df_exams.sort_values(by='math score',ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average
451,female,group E,some college,standard,none,100,92,97,96.333333
458,female,group E,bachelor's degree,standard,none,100,100,100,100.000000
962,female,group E,associate's degree,standard,none,100,100,100,100.000000
149,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667
623,male,group A,some college,standard,completed,100,96,86,94.000000
...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,31.333333
787,female,group B,some college,standard,none,19,38,32,29.666667
17,female,group B,some high school,free/reduced,none,18,32,28,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,18.333333
59,female,group C,some high school,free/reduced,none,0,17,10,9.000000

In [ ]:
#sort descending by multiples columns
df_exams.sort_values(by=['math score','reading score'],ascending=False,inplace=True)
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average
149,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667
458,female,group E,bachelor's degree,standard,none,100,100,100,100.000000
916,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000
962,female,group E,associate's degree,standard,none,100,100,100,100.000000
625,male,group D,some college,standard,completed,100,97,99,98.666667
...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,31.333333
787,female,group B,some college,standard,none,19,38,32,29.666667
17,female,group B,some high school,free/reduced,none,18,32,28,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,18.333333
59,female,group C,some high school,free/reduced,none,0,17,10,9.000000

In [ ]:
#sort descending with a key function
df_exams.sort_values('race/ethnicity',ascending=True,key=lambda col: col.str.lower())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average
741,female,group A,associate's degree,free/reduced,none,37,57,56,50.000000
151,male,group A,bachelor's degree,standard,none,77,67,68,70.666667
811,male,group A,high school,free/reduced,none,45,47,49,47.000000
112,male,group A,associate's degree,standard,none,54,53,47,51.333333
25,male,group A,master's degree,free/reduced,none,73,74,72,73.000000
...,...,...,...,...,...,...,...,...,...
751,male,group E,some college,standard,none,68,72,65,68.333333
915,female,group E,some college,standard,none,68,70,66,68.000000
592,male,group E,bachelor's degree,standard,none,68,68,64,66.666667
479,male,group E,associate's degree,standard,none,76,71,67,71.333333
517,female,group E,some college,standard,completed,66,74,73,71.000000

# Create index

In [ ]:
import numpy as np
import random

In [ ]:
#create non-repeatitive values for the index
new_index=np.arange(0,1000)

In [ ]:
#shuffling the indecies
random.shuffle(new_index)

In [ ]:
new_index

array([933, 930, 590, 668, 575, 522, 807, 454, 223, 714,  58, 280, 122,
       874, 170, 855, 935, 734, 315, 989, 513, 637, 457, 742, 281, 166,
       531, 701, 558, 670, 912, 326, 818, 811, 545, 619, 194, 763, 536,
       717, 390, 306, 123, 298, 127, 838, 100, 991, 293, 331, 724, 449,
       475, 459, 663, 524, 657, 854,  15, 237, 809, 408, 732, 110, 731,
       535, 163, 640, 956, 357, 239, 161,  41, 943, 679,  65, 245, 260,
       812, 196, 938, 107, 618, 272, 218, 444,  60, 553, 471, 121,  21,
        12, 162, 274,  11, 630, 904, 405, 353, 287, 204,  70, 965, 378,
       155, 964, 913, 705, 421, 782,  75, 500, 823, 974, 431, 790, 168,
        19, 802,  68, 213,  78, 771, 756, 466, 562, 494, 262, 288, 284,
       386, 609, 438, 627, 271, 468, 503, 125, 144, 810, 770, 743, 878,
       235,   4, 928, 217, 269, 358, 419, 203, 672, 301, 851, 695, 736,
       625, 720, 678, 587, 146, 948, 148, 108, 887, 411,  62, 176, 329,
       322, 154, 189, 797, 773, 918, 966, 993, 686, 416, 592, 984, 725,
       412, 258, 689, 940, 571, 651, 556,  64, 727, 612, 377, 594, 777,
       528, 573, 490, 688, 673, 473, 453, 137,  66, 388, 369, 825, 543,
       275, 613, 900,  50, 139, 393, 955, 131, 120, 356,  74, 740, 785,
       200, 186, 572, 795, 134, 537, 718, 745, 881, 249, 480, 443, 776,
       676, 319, 730,  83, 320, 365, 489, 642, 221, 532, 461, 645,  23,
        57, 406,  56, 767, 787, 159, 136, 551, 312, 292, 273, 208,  28,
       156, 251,  20, 420,   5, 469, 893, 579, 178, 202, 723, 983, 567,
       648, 661, 394,  48,  46, 653, 410, 216, 894,  84, 754, 907, 781,
       538,  55, 843, 608, 950, 248,  81, 190, 593, 892, 832, 706, 621,
       596,  76, 370, 350, 167, 348, 719,  80, 526, 602, 226, 321,  45,
       402, 177, 981, 869, 481, 332, 252, 250, 739, 413, 806, 827,  33,
       764, 858, 798,  34, 923, 665, 735, 294, 129, 568, 247, 846, 611,
       604, 507, 307, 446, 555, 130, 906,  44, 103, 145, 153, 193,  93,
       308, 544, 888, 244, 169,  72,  63, 527, 655, 106, 115, 530, 414,
       355,  30, 975, 583, 430, 703, 831, 423, 191, 347,  53,  67, 179,
       880, 662, 199, 285,  79, 780, 969, 999, 138, 434, 860, 118, 424,
       185, 631, 566, 344, 224, 944, 364, 359,  27,  14, 363, 917,  97,
       470,  71,  36, 210, 675, 582, 902, 749, 871, 465, 897, 391, 911,
       506, 760, 521, 383, 197, 495, 381, 534, 268, 682, 334,  59,  99,
       789,   9, 367, 407, 238, 973, 569, 341, 346, 392, 805, 195, 399,
       591, 746, 266, 541, 995, 133, 836, 361, 614,  96, 525, 433, 227,
       738, 314,  52, 586, 448, 451, 488, 958, 299, 929, 753, 396, 259,
       124, 570,  54, 533, 945, 697, 710, 371, 691,   8, 559, 863, 404,
       728,  29, 286,  51, 175, 323, 339, 209, 476, 849, 926, 303, 349,
       877,  73, 374, 550, 104, 560, 962, 624, 230, 212, 660, 375, 174,
       980, 589,  17, 311, 211, 147, 512, 875,  91, 844, 952, 333, 905,
        69, 343, 891, 517, 289, 890, 337, 450, 588, 563, 951, 484, 277,
        38, 242, 899, 821, 620,  10, 397, 403, 972, 368, 646, 941,  40,
       401, 908, 143, 119, 182, 636, 667, 650,  16, 516, 690, 985, 741,
       769, 733, 171, 772, 856, 482, 117, 967, 523, 316, 297, 290, 922,
       837,  42, 751, 615, 379, 800, 514, 180, 788, 937, 578, 501, 241,
       715, 304, 704, 816, 205, 529, 786, 927, 633, 126, 901,   1, 463,
       600,  13, 222, 957, 152, 793,  94,   7, 931, 870, 219, 192,  87,
       853, 415, 236, 317, 946, 775, 840, 149, 898,  25, 215, 561, 395,
       622, 954, 437, 549, 498,   6,  47, 632, 693, 243, 936, 160,  92,
       472,  77, 325, 477, 652, 792, 934,   3, 919,  49, 518, 842, 338,
       685, 330, 497, 932,  39, 422, 267, 687, 246, 432, 979, 455, 382,
       822, 510, 340, 496, 254, 996, 474, 135, 847,  43, 508, 779, 641,
       616, 839, 988, 942, 708, 499, 581, 105, 109, 601, 164, 750, 309,
       729, 766, 909, 814, 504, 282, 505, 623, 452, 417, 445, 857, 439,
       112, 291, 914, 598,  90, 116, 181, 409, 318, 345, 276, 362, 684,
       425,  88, 400,  24, 214, 253, 654, 554, 883, 925, 206, 336, 711,
       683, 796, 279, 953, 225, 859, 373, 198, 669, 141, 102, 819, 992,
       229, 829, 702, 263, 752, 643, 635, 515, 681,  35, 916, 261, 335,
       283, 542, 709, 313, 845, 997, 835, 265, 879, 142, 376, 755, 441,
       188, 485, 712, 674, 924, 584, 982, 114, 970, 233, 552, 467, 903,
       815, 986, 866, 486, 184, 968, 310, 716, 427, 722, 692,  18, 868,
       671, 295, 921, 721, 801, 576, 442, 920, 207, 165, 113, 873, 173,
       231, 826, 865, 834, 963, 428, 884, 460, 385, 240, 580, 666,  86,
       656, 896, 440, 617,   2, 603, 994, 610, 101, 372, 824, 867, 939,
       808, 638, 380, 841,  32, 172, 436, 183, 539, 737, 574, 639, 960,
       784, 794, 540, 783, 977, 696, 882, 324, 744, 447, 487, 232, 599,
       758, 726, 418, 774, 803, 804, 483, 264, 492, 820, 626, 659, 257,
       850, 747, 759, 547, 546, 677, 628, 978, 234, 700, 577, 479, 664,
       220, 255, 976, 511, 464, 817, 765, 987, 713, 644, 435, 629, 565,
       387, 864, 949, 886, 852, 201,  22, 885, 509, 342, 768, 491,  95,
       595, 971, 458, 328, 910, 606, 462, 947, 961, 872, 848, 833, 351,
       605, 680, 889, 278, 398, 597, 389, 791, 634, 132, 360, 151, 426,
       296,  26, 707, 861, 493, 557, 429, 828, 862, 187, 111,  98, 998,
       352, 762, 256,  61, 757, 585, 748, 548, 128, 915, 456, 959,  82,
       990, 799, 649, 140,  89, 502, 895, 366, 876, 158, 607, 778, 270,
       761, 300, 302, 384, 327, 658,  31,   0, 305, 564, 813, 354, 830,
       228, 694, 520, 698, 157, 150, 478, 519, 699,  37, 647,  85])

In [ ]:
#set a new column with new index
df_exams['new_index']=new_index
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average,new_index
149,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667,933
458,female,group E,bachelor's degree,standard,none,100,100,100,100.000000,930
916,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000,590
962,female,group E,associate's degree,standard,none,100,100,100,100.000000,668
625,male,group D,some college,standard,completed,100,97,99,98.666667,575
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,31.333333,519
787,female,group B,some college,standard,none,19,38,32,29.666667,699
17,female,group B,some high school,free/reduced,none,18,32,28,26.000000,37
980,female,group B,high school,free/reduced,none,8,24,23,18.333333,647
59,female,group C,some high school,free/reduced,none,0,17,10,9.000000,85

#set index

In [ ]:
#set new_index column as index
df_exams.set_index('new_index')
#it creates copies you need to use (((((inplace=True

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average
new_index,,,,,,,,,
933,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667
930,female,group E,bachelor's degree,standard,none,100,100,100,100.000000
590,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000
668,female,group E,associate's degree,standard,none,100,100,100,100.000000
575,male,group D,some college,standard,completed,100,97,99,98.666667
...,...,...,...,...,...,...,...,...,...
519,female,group C,some college,free/reduced,none,22,39,33,31.333333
699,female,group B,some college,standard,none,19,38,32,29.666667
37,female,group B,some high school,free/reduced,none,18,32,28,26.000000
647,female,group B,high school,free/reduced,none,8,24,23,18.333333
85,female,group C,some high school,free/reduced,none,0,17,10,9.000000

In [ ]:
#sort dataframe by new index
df_exams.sort_index(ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average,new_index
999,female,group D,some college,free/reduced,none,77,86,86,83.000000,320
998,female,group D,some college,standard,completed,68,78,77,74.333333,266
997,female,group C,high school,free/reduced,completed,59,71,65,65.000000,601
996,male,group C,high school,free/reduced,none,62,55,55,57.333333,693
995,female,group E,master's degree,standard,completed,88,99,95,94.000000,535
...,...,...,...,...,...,...,...,...,...,...
4,male,group C,some college,standard,none,76,78,75,76.333333,28
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333,565
2,female,group B,master's degree,standard,none,90,95,93,92.666667,724
1,female,group C,some college,standard,completed,69,90,88,82.333333,902
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667,244

#Rename Column

In [ ]:
#rename column and overwrite values of dataframes
df_exams.rename(columns={'gender':'Gender'},inplace=True)
df_exams

,Gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average,new_index
149,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667,933
458,female,group E,bachelor's degree,standard,none,100,100,100,100.000000,930
916,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000,590
962,female,group E,associate's degree,standard,none,100,100,100,100.000000,668
625,male,group D,some college,standard,completed,100,97,99,98.666667,575
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,31.333333,519
787,female,group B,some college,standard,none,19,38,32,29.666667,699
17,female,group B,some high school,free/reduced,none,18,32,28,26.000000,37
980,female,group B,high school,free/reduced,none,8,24,23,18.333333,647
59,female,group C,some high school,free/reduced,none,0,17,10,9.000000,85

In [ ]:
#rename multiple columns
df_exams.rename(columns={'math score':'MS','reading score':'RS','writing score':'WS'})

,Gender,race/ethnicity,parental level of education,lunch,test preparation course,MS,RS,WS,average,new_index
149,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667,933
458,female,group E,bachelor's degree,standard,none,100,100,100,100.000000,930
916,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000,590
962,female,group E,associate's degree,standard,none,100,100,100,100.000000,668
625,male,group D,some college,standard,completed,100,97,99,98.666667,575
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,31.333333,519
787,female,group B,some college,standard,none,19,38,32,29.666667,699
17,female,group B,some high school,free/reduced,none,18,32,28,26.000000,37
980,female,group B,high school,free/reduced,none,8,24,23,18.333333,647
59,female,group C,some high school,free/reduced,none,0,17,10,9.000000,85